@import 'tailwindcss';
@config '../../tailwind.config.js';

body {
  margin: 0;
  background-color: theme(colors.neutral.50);
  color: theme(colors.neutral.900);
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
}
